
	<!-- Team -->

	<div class="team">
		<div class="team_background parallax-window" data-parallax="scroll" data-image-src="images/team_background.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Les meilleurs professeurs</h2>
						<div class="section_subtitle"><p>Nos formateurs sont sélectionnés pour leurs compétences professionnelles et pédagogiques qui en font des experts reconnus dans leurs spécialités respectives</p></div>
					</div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Item -->
				<div class="col-lg-3 col-md-6 team_col" *ngFor="let partenaire of partenaires">
					<div class="team_item">
						<div class="team_image"><img src="../../../../assets/client/images/team_2.jpg" alt=""></div>
						<div class="team_body">
							<div class="team_title">{{partenaire.name}}</div>
							<div class="team_subtitle">{{partenaire.job}}</div>
						 
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>