 
  <!-- search section -->
  <section class="search-section">
      
          <div class="col-md-10 offset-md-1">
            <!-- search form -->
            <form class="course-search-form" #registerForm="ngForm" (ngSubmit)="search()">
              <input type="text" (keyup)="searchTerm$.next($event.target.value)">
               
              <button class="site-btn" type="submit">chercher formation</button>
            </form>
          </div>
        
  </section>
   
  <!-- search section end -->
  
    
  <!-- course section -->
  <section class="course-section spad" *ngIf="results">
   
    <div class="course-warp">
                                             
      <div class="row course-items-area">
        <!-- course -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 finance" *ngFor="let result of results">
          <div class="course-item">
            <div class="course-thumb set-bg"  style="background-image:url(./assets/client/img/courses/1.jpg);" data-setbg="./assets/client/img/courses/1.jpg">
              <div class="price">Prix: </div>
            </div>
            <div class="course-info">
              <div class="course-text">
                <h5> {{ result.nameFormation }}</h5>
                <p>{{ result.type}}</p>
                <span>{{ result.nb}}</span>
              </div>
              <div class="course-author">
                <div class="ca-pic set-bg" data-setbg="./assets/client/img/authors/1.jpg"></div>
                <p>William Parker, <span>Developer</span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- course -->
         
       </div>
    </div>
  </section>
  <!-- course section end -->
  
<!-- categories section -->
<section class="categories-section spad" *ngIf="results">
  <div class="container">
    <div class="section-title">
      <h2>Résultats</h2>
      
    </div>
    <div class="row">
      <!-- categorie -->
      <div class="col-lg-4 col-md-6" *ngFor="let result of results">
        <div class="categorie-item" >
          <div class="ci-thumb set-bg" style="background-image:url(./assets/client/img/categories/1.jpg);" data-setbg="./assets/client/img/categories/1.jpg"></div>
          <div class="ci-text">
            <h5> {{ result.nameFormation }}</h5>
            <p>{{ result.type}}</p>
            <span>{{ result.nb}}</span>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
<!-- categories section end -->