
  <section>
     
    <h1>Utilisateurs</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{column}}</th>
             
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          
          <tr *ngFor="let user of users; let i=index">
            <td>{{i}}</td>
            <td>{{user._id}}</td>
            <td>{{user.email}}</td>
             
            <td><a (click)="deleteUser(user)" class="btn btn-danger">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
 