<input class="navbar-search form-control" type="text" autocomplete="off" placeholder="Search for something..." aria-label="Search" name="search" [(ngModel)]="searchText">  
  <section>
     
    <h1>Utilisateurs</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{column}}</th>
             
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          
          <tr *ngFor="let user of users | filter:searchText ; let i=index">
            <td>{{i}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.email}}</td>
             
            <td><a (click)="deleteUser(user)" class="btn btn-danger">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <h3>Liste des utilisateurs</h3>
  <p-table [value]="users">
      <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns">{{column}}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr>
            <td>1</td>
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.email}}</td>
            <td><a (click)="deleteUser(user)" class="btn btn-danger">Supprimer</a></td>
          </tr>
      </ng-template>
  </p-table>
  