	<!-- Home -->

	<div class="home">
      <div class="breadcrumbs_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="breadcrumbs">
                <ul>
                  <li><a routerLink="/">Accueil</a></li>
                  <li><a  routerLink="/list">Formations</a></li>
                  <li>Formation</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Course -->
    <p-toast [style]="{marginTop: '80px',color : 'red'}"></p-toast>
    <div class="course">
      <div class="container">
        <div class="row" *ngIf="formation">

          <!-- Course -->
          <div class="col-lg-8">

            <div class="course_container">
              <div class="course_title">{{formation.nameFormation}}</div>
              <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                <!-- Course Info Item -->
                <div class="course_info_item">
                  <div class="course_info_title">Catégorie:</div>
                  <div class="course_info_text">{{formation.Categorie}} </div>
                </div>

                <!-- Course Info Item
                <div class="course_info_item">
                  <div class="course_info_title">Avis:</div>
                  <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                </div>-->

                <!-- Course Info Item -->
                <div class="course_info_item">
                  <div class="course_info_title">Type:</div>
                  <div class="course_info_text">{{formation.type}}</div>
                </div>

              </div>

              <!-- Course Image -->
              <div class="course_image"><img src="{{formation.imageUrl}}" alt="image de la formation"></div>

              <!-- Course Tabs -->
              <p-tabView>


                  <!-- Description -->
                  <p-tabPanel header="Description" leftIcon="pi pi-bars">
                    <div class="tab_panel_title">{{formation.nameFormation}}</div>
                    <div class="tab_panel_content">
                      <div class="tab_panel_text">
                        <p>{{formation.Description}}</p>
                      </div>
                      <div class="tab_panel_section">
                        <div class="tab_panel_subtitle">Prérequis</div>
                        <p>Vous avez un projet professionnel mais il vous manque des compétences en développement informatique ? Vous possédez des bases en programmation et vous souhaitez les approfondir ? Ou bien vous désirez réaliser une reconversion professionnelle sécurisée dans le numérique ?</p>
                      </div>
                      <div class="tab_panel_section">
                        <div class="tab_panel_subtitle">À qui cette formation s'adresse-t-elle ?</div>
                        <div class="tab_panel_text">
                          <p>La formation FULLSTACK, c’est également un enseignement personnalisé, mettant la pratique au cœur de l’enseignement avec de nombreux projets à réaliser, dont le PROJET FIL-ROUGE, significatif et réalisé aux normes industrielles. Mais ce sont surtout 400 heures de formation, avec 7 modules formant à des technologies à la pointe de l’innovation, ainsi qu’un STAGE de 4 mois en entreprise.
                            </p>
                        </div>
                      </div>

                      <div class="tab_panel_section">
                        <!--> <div class="tab_panel_subtitle"> Au cours de votre formation, vous apprendrez à :</div>
                        <div class="tab_panel_text">
                          <p>{{formation.Description}}</p>
                        </div>
                      </div>
                      <div class="tab_panel_faq">
                        <div class="tab_panel_title">FAQ</div>
                        -->
                        <!-- Accordions -->

                        <p-accordion [multiple]="true">
                          <p-accordionTab header="Qu'est-ce qu'un virus informatique ?">
                            
                            Un virus informatique est un programme ou petit logiciel spécialement conçu (on dit spécialement codé) pour se reproduire et se propager tout seul d’ordinateur en ordinateur. 

A l’origine, le virus n’était absolument pas dangereux. Il l’est devenu par l’ajout de codes malveillants, conçus pour qu’il exécute tout seul certaines actions prédéfinies comme supprimer des données, les dupliquer à l’infini, afficher un message impossible à fermer dans une fenêtre, perturber le fonctionnement des périphériques de l’ordinateur (souris, clavier, lecteur), empêcher un programme légitime de démarrer, changer les extensions de fichier, etc. 

La liste est longue mais il faut savoir qu’un virus peut nuire plus ou moins gravement au bon fonctionnement du système d’exploitation d’un ordinateur, handicapant ainsi son utilisation. 

Selon son type, un virus peut se propager via Internet (téléchargements, mails, sites web,…) et les réseaux locaux (ordinateurs interconnectés en local) mais aussi via les clés USB, CD et DVD, disquettes, et cartes mémoires. 

La majeure partie des virus informatiques connus aujourd’hui (plus de 90%) s’attaquent uniquement au système d’exploitation Windows de Microsoft.
                          </p-accordionTab>
                          <p-accordionTab header="Comment l'informatique a-t-elle vu le jour ?">
                            Le mot « informatique » est né de la combinaison de deux mots : information et automatique. Ce qui signifie qu’à l’origine, l’informatique est vu comme le traitement automatique de l’information. 

                            Suivant cette définition, on peut affirmer que l’informatique a existé bien avant l’apparition des premiers ordinateurs, plus précisément avec les premiers concepts sur la programmation. De Joseph Jacquard et son métier à tisser utilisant des cartes perforées (souvent considéré comme un ancêtre de l’ordinateur), à George Boole, père de la logique moderne et de sa structure algébrique, en passant par Ada Lovelace qui écrivit le premier algorithme au monde destiné à être lu sur une machine (environ 100 ans avant l’apparition du premier ordinateur), plusieurs inventeurs et mathématiciens conceptualisèrent l’idée d’une machine traitant automatiquement des tâches sans intervention humaine. Cette période est située vers le milieu des années 1800. 
                            
                            Au fil des découvertes et de l’évolution des techniques, on a vu ensuite l’informatique continuer sa course vers la mécanographie avec des appareils stockant des informations sur des cartes perforées. L’exemple le plus frappant sur cette période est sûrement le succès du norvégien Fredrik Rosing Bull, fondateur de la société du même nom, toujours en activité aujourd’hui. Ses équipements mécanographiques envahirent la Suisse dès les années 30 avant de rencontrer le même succès en France.
                            
                            Le début de l’ère de l’informatique moderne telle que nous la connaissons aujourd’hui est la conséquence de l’invention du transistor en 1947, une invention qui offrait de meilleures performances que les lampes radio utilisées alors. Évidemment, plusieurs inventions virent successivement le jour : circuit intégré, relais, processeurs et micro processeurs, etc. Elles permirent d’imaginer et de fabriquer des machines de calcul de plus en plus fiables, petites, complexes et surtout performantes.
                            
                            
                          </p-accordionTab>
                          <p-accordionTab header="Combien de temps passe-t-on sur internet chaque jour ?">
                            Chaque année, dans le monde entier, le temps passé sur internet quotidiennement ne cesse d'augmenter. Non seulement les ordinateurs se sont invités dans la plupart des foyers, mais d'autres appareils comme les tablettes et surtout les téléphones permettent aujourd'hui de surfer sur la toile.

En France, on passerait en moyenne 3h40 par jour sur internet depuis un ordinateur, et 1h08 depuis son téléphone, soit 4h48 à naviguer sur le net.

Mais les Français ne sont pas les plus accros au réseau : c'est le Brésil (pays pourtant de la plage et du football) qui bat des records dans ce domaine. Près de 5 heures sur l'ordinateur et 3h56 sur un téléphone, soit quasiment 9 heures passées sur internet !

Les Brésiliens sont suivis de près par l'Afrique du Sud (8h à surfer sur le web) et le Mexique (7h09 passées sur les sites).

A l'inverse, les Japonais semblent raisonnables dans leur consommation de bande passante : 4h06 consacrées quotidiennement à la navigation sur internet.

A noter que c'est en Chine que l'on trouve un certain équilibre entre l'utilisation de l'ordinateur et celle du téléphone pour accéder au net : 3h17 pour le premier et 3h04 pour le second.
                          </p-accordionTab>
                        </p-accordion>

                      </div>
                    </div>
                  </p-tabPanel>

                  <!-- Curriculum -->
                  <p-tabPanel header="Programme" leftIcon="pi pi-list">
                    <div class="tab_panel_content">
                      <div class="tab_panel_title">{{formation.nameFormation}}</div>
                      <div class="tab_panel_content">
                        <div class="tab_panel_text">
                          <p>Plan de la formation :  </p>
                          <p> {{formation.Plan}} </p>
                        </div>
                      </div>
                    </div>
                 </p-tabPanel>

                  <!-- Reviews -->
                  <p-tabPanel header="Commentaires" leftIcon="pi pi-comments">

                       <!-- Comments -->
                    <div class="comments_container">
                      <ul class="comments_list">
                        <li *ngFor="let cmt of formation.Cmts  ; let i=index">
                          <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                            <div class="comment_image"><div><img src="./assets/client/images/Utilisateur.png" alt="User"></div></div>
                            <div class="comment_content">
                              <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_author">{{cmt.User.email}}</div>
                                <div class="comment_time ml-auto">{{cmt.date | date :'dd-MMM-yy h:mm'}}</div>
                              </div>
                              <div class="comment_text">
                                <p>{{cmt.Sujet}}</p>
                              </div>
                              <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
                              </div>
                            </div>
                          </div>

                        </li>

                      </ul>
                      <div class="add_comment_container" *ngIf="!nav.LoggedIn">
                        <div class="add_comment_title">Ajouter un commentaire</div>

                        <div class="add_comment_text">Vous devez <a routerLink="/auth/login">se connecter</a> pour ajouter un commentaire.</div>
                      </div>
                      <div class="add_comment_container" *ngIf="nav.LoggedIn">
                        <div class="add_comment_title">Ajouter un commentaire</div>
                        <form id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start" #registerForm="ngForm" (ngSubmit)="AjouterCmt()">
                          <input type="text" name="cmt" class="courses_search_input" placeholder=" Ajouter commentaire" required="required" [(ngModel)]="cmt.Sujet">
                          <button type="submit" class="courses_search_button ml-auto">envoyer</button>
                        </form>
                      </div>
                    </div>

                </p-tabPanel>

              </p-tabView>
            </div>
          </div>

          <!-- Course Sidebar -->
          <div class="col-lg-4">
            <div class="sidebar">

          


              <!-- Latest Course -->
              <div class="sidebar_section"  >
                <div class="sidebar_section_title">Les sessions</div>
                <div class="sidebar_latest" *ngFor="let session of formation.Sessions  ; let i=index">

                  <!-- Latest Course -->
                  <div class="latest d-flex flex-row align-items-start justify-content-start">
                    <div class="latest_image"><div><img src="../../../../assets/client/images/latest_1.jpg" alt=""></div></div>
                    <div class="latest_content">
                      <div class="latest_title"> {{session.name}}</div>
                      <div class="latest_title">Formateur: {{session.Formateur.name}}</div>

                       <div *ngIf="session.NbPlaces >session.quanti "> <button (click)="AjouterAuPanier(session._id)" >Ajouter au panier</button></div> 
                    <div *ngIf="session.NbPlaces <= session.quanti">Pas de places disponibles</div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
