	<!-- Home -->

	<div class="home">
      <div class="breadcrumbs_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="breadcrumbs">
                <ul>
                  <li><a routerLink="/">Accueil</a></li>
                  <li><a  routerLink="/list">Formations</a></li>
                  <li>Formation</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Course -->
    <p-toast [style]="{marginTop: '80px',color : 'red'}"></p-toast>
    <div class="course">
      <div class="container">
        <div class="row" *ngIf="formation">

          <!-- Course -->
          <div class="col-lg-8">

            <div class="course_container">
              <div class="course_title">{{formation.nameFormation}}</div>
              <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                <!-- Course Info Item -->
                <div class="course_info_item">
                  <div class="course_info_title">Formateur:</div>
                  <div class="course_info_text">Meriem Fellah</div>
                </div>

                <!-- Course Info Item
                <div class="course_info_item">
                  <div class="course_info_title">Avis:</div>
                  <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                </div>-->

                <!-- Course Info Item -->
                <div class="course_info_item">
                  <div class="course_info_title">Type:</div>
                  <div class="course_info_text">{{formation.type}}</div>
                </div>

              </div>

              <!-- Course Image -->
              <div class="course_image"><img src="{{formation.imageUrl}}" alt="image de la formation"></div>

              <!-- Course Tabs -->
              <p-tabView>


                  <!-- Description -->
                  <p-tabPanel header="Description" leftIcon="pi pi-bars">
                    <div class="tab_panel_title">{{formation.nameFormation}}</div>
                    <div class="tab_panel_content">
                      <div class="tab_panel_text">
                        <p>{{formation.Description}}</p>
                      </div>
                      <div class="tab_panel_section">
                        <div class="tab_panel_subtitle">Prérequis</div>
                        <p>Vous avez un projet professionnel mais il vous manque des compétences en développement informatique ? Vous possédez des bases en programmation et vous souhaitez les approfondir ? Ou bien vous désirez réaliser une reconversion professionnelle sécurisée dans le numérique ?</p>
                      </div>
                      <div class="tab_panel_section">
                        <div class="tab_panel_subtitle">À qui cette formation s'adresse-t-elle ?</div>
                        <div class="tab_panel_text">
                          <p>La formation FULLSTACK, c’est également un enseignement personnalisé, mettant la pratique au cœur de l’enseignement avec de nombreux projets à réaliser, dont le PROJET FIL-ROUGE, significatif et réalisé aux normes industrielles. Mais ce sont surtout 400 heures de formation, avec 7 modules formant à des technologies à la pointe de l’innovation, ainsi qu’un STAGE de 4 mois en entreprise.
                            </p>
                        </div>
                      </div>

                      <div class="tab_panel_section">
                        <!--> <div class="tab_panel_subtitle"> Au cours de votre formation, vous apprendrez à :</div>
                        <div class="tab_panel_text">
                          <p>{{formation.Description}}</p>
                        </div>
                      </div>
                      <div class="tab_panel_faq">
                        <div class="tab_panel_title">FAQ</div>
                        -->
                        <!-- Accordions -->

                        <p-accordion [multiple]="true">
                          <p-accordionTab header="Question I">
                              The story begins  as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                          </p-accordionTab>
                          <p-accordionTab header="Question II">
                              Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
                          </p-accordionTab>
                          <p-accordionTab header="Question III">
                              After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
                          </p-accordionTab>
                        </p-accordion>

                      </div>
                    </div>
                  </p-tabPanel>

                  <!-- Curriculum -->
                  <p-tabPanel header="Programme" leftIcon="pi pi-list">
                    <div class="tab_panel_content">
                      <div class="tab_panel_title">{{formation.nameFormation}}</div>
                      <div class="tab_panel_content">
                        <div class="tab_panel_text">
                          <p>Contenu de la formation</p>
                        </div>
                      </div>
                    </div>
                 </p-tabPanel>

                  <!-- Reviews -->
                  <p-tabPanel header="Commentaires" leftIcon="pi pi-comments">

                       <!-- Comments -->
                    <div class="comments_container">
                      <ul class="comments_list">
                        <li *ngFor="let cmt of formation.Cmts  ; let i=index">
                          <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                            <div class="comment_image"><div><img src="./assets/client/images/Utilisateur.png" alt="User"></div></div>
                            <div class="comment_content">
                              <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_author">{{cmt.User.email}}</div>
                                <div class="comment_time ml-auto">{{cmt.date | date :'dd-MMM-yy h:mm'}}</div>
                              </div>
                              <div class="comment_text">
                                <p>{{cmt.Sujet}}</p>
                              </div>
                              <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
                              </div>
                            </div>
                          </div>

                        </li>

                      </ul>
                      <div class="add_comment_container" *ngIf="!nav.LoggedIn">
                        <div class="add_comment_title">Ajouter un commentaire</div>

                        <div class="add_comment_text">Vous devez <a routerLink="/auth/login">se connecter</a> pour ajouter un commentaire.</div>
                      </div>
                      <div class="add_comment_container" *ngIf="nav.LoggedIn">
                        <div class="add_comment_title">Ajouter un commentaire</div>
                        <form id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start" #registerForm="ngForm" (ngSubmit)="AjouterCmt()">
                          <input type="text" name="cmt" class="courses_search_input" placeholder=" Ajouter commentaire" required="required" [(ngModel)]="cmt.Sujet">
                          <button type="submit" class="courses_search_button ml-auto">envoyer</button>
                        </form>
                      </div>
                    </div>

                </p-tabPanel>

              </p-tabView>
            </div>
          </div>

          <!-- Course Sidebar -->
          <div class="col-lg-4">
            <div class="sidebar">

              <!-- Feature -->
              <div class="sidebar_section">
                <div class="sidebar_section_title">Les détails de la prochaine</div><br>
                <div class="sidebar_section_title">session</div>
                <div class="sidebar_feature">
                  <br>
                  <div class="course_price">prix : 120 dt</div>

                  <!-- Features -->
                  <div class="feature_list">

                    <!-- Feature -->
                    <div class="feature d-flex flex-row align-items-center justify-content-start">
                      <div class="feature_title"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Date:</span></div>
                      <div class="feature_text ml-auto">2 semaines</div>
                    </div>

                    <!-- Feature -->
                    <div class="feature d-flex flex-row align-items-center justify-content-start">
                      <div class="feature_title"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Nombres de places:</span></div>
                      <div class="feature_text ml-auto">20</div>
                    </div>

                    <!-- Feature -->
                    <div class="feature d-flex flex-row align-items-center justify-content-start">
                      <div class="feature_title"><i class="fa fa-users" aria-hidden="true"></i><span>Nombres d'heures:</span></div>
                      <div class="feature_text ml-auto">35 heures</div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- Latest Course -->
              <div class="sidebar_section">
                <div class="sidebar_section_title">Les sessions</div>
                <div class="sidebar_latest" *ngFor="let session of formation.Sessions  ; let i=index">

                  <!-- Latest Course -->
                  <div class="latest d-flex flex-row align-items-start justify-content-start">
                    <div class="latest_image"><div><img src="../../../../assets/client/images/latest_1.jpg" alt=""></div></div>
                    <div class="latest_content">
                      <div class="latest_title"> {{session.name}}</div>
                      <div class="latest_title">Formateur: {{session.Formateur.name}}</div>

                    <div *ngIf="session.NbPlaces >session.quanti"> <button (click)="AjouterAuPanier(session._id)">Ajouter au panier</button></div>
                    <div *ngIf="session.NbPlaces <= session.quanti">Pas de places disponibles</div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
