<header id="site-header">
  <div class="container">
      <h1> Chatbot</h1>
  </div>
</header>
       <div class="container">

            <div class="messaging">
                    <div class="mesgs">
                      <div *ngFor="let message of conversation  ; let i=index">


                        <div class="outgoing_msg" *ngIf="message.from === 'Me'">
                          <div class="sent_msg">
                            <p>{{message.content}}</p>
                            <span class="time_date"> 11:01 AM    |    Today</span> </div>
                        </div>

                        <div class="incoming_msg" *ngIf="message.from === 'Bot'">
                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>{{message.content}}</p>
                              <span class="time_date"> 11:01 AM    |    Today</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="type_msg">
                        <div class="input_msg_write">
                          <input type="text" class="write_msg" placeholder="Type a message" #message (keyup.enter)="addMessageFromUser(message)"/>
                          <button class="msg_send_btn" type="button" (click)="addMessageFromUser(message)"><i class="fas fa-paper-plane"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
