<div class="feature_background" style="background-image:url(../../../../assets/client/images/courses_background.jpg)"></div>
<div class="super_container">

		<div class="home">
				<div class="breadcrumbs_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="breadcrumbs">
									<ul>
										<li><a routerLink="/">Home</a></li>
										<li>Contact</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		

	<!-- Contact -->

	<div class="contact">
			
		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<!-- Contact Form -->
					<div class="col-lg-6">
						<div class="contact_form">
							<div class="contact_info_title">Formulaire de contact </div>
							<form action="#" class="comment_form" #contactForm="ngForm" (ngSubmit)="submit()">
								<div>
									<div class="form_title">Name</div>
									<input type="text" class="comment_input" name="name" [(ngModel)]="registerContact.name" required="required">
								</div>
								<div>
									<div class="form_title">Email</div>
									<input type="text" class="comment_input" name="email" [(ngModel)]="registerContact.email" required="required">
								</div>
								<div>
									<div class="form_title">Message</div>
									<textarea class="comment_input comment_textarea" name="message" [(ngModel)]="registerContact.message" required="required"></textarea>
								</div>
								<div>
									<button type="submit" class="comment_button trans_200">submit now</button>
								</div>
							</form>
						</div>
					</div>
             <!-- Contact Info -->
             <div class="col-lg-6">
	        	<div class="contact_info">
		        	<div class="contact_info_title">Les coordonnées de contact</div>
		            	<div class="contact_info_text">
				          <p></p>
		            	</div>
		    	<div class="contact_info_location">
				<div class="contact_info_location_title"></div>
				<ul class="location_list">
					<li>Email:</li>
					<li>contact@digitalis.tn</li>
					<li>Numéros de téléphone:  </li>
					<li> (+216) 58 17 28 82</li>
					<li> (+216) 55 10 16 16</li>
					<li> (+216) 58 17 28 82</li>
				</ul>
				</div>
				</div>
				</div>
				 
				
				</div>
			</div>
		</div>
		
	</div>
</div>

	<!-- Footer -->

	<app-footer></app-footer>