
 <header id="site-header">
  <div class="container">
      <h1>Panier </h1>
  </div>
</header> 
<div class="container">
        <p> <a routerLink="/list">Continuer vos achats</a></p>
  <section id="cart"> 
      
      <article class="product" *ngFor="let item of items">
          <header>
              <a class="remove" (click)="Remove(item._id)">
                  <img src="{{item.sessionId.Formations.imageUrl}}" alt="">

                  <h3>Supprimer</h3>
              </a>
          </header>

          <div class="content">

              <h1>  {{item.sessionId.name}}</h1>
              {{item.sessionId.Formations.Description}}

          </div>
 
      </article>

  </section>

</div>

<footer id="site-footer">
  <div class="container clearfix">
        
      <div class="right"> 
          <a class="btn" (click)="reserver()">Réserver</a>
      </div>

  </div>
</footer>