<div class="container">
	<form class="signUp" #registerForm="ngForm" (ngSubmit)="submit()">
      <h3>Créer votre compte</h3>
     
      
		<p> C'est super facile!  
      </p>
		<input class="w100" name="email" type="email" placeholder="email" [(ngModel)]="registerUserData.email" required autocomplete='off' />
    <br> 
    <input class="w200" type="password" name="password" placeholder="mot de passe" [(ngModel)]="registerUserData.password" required />
	 <div class="progress-bar_wrap">
		<div class="progress-bar_item progress-bar_item-1"></div>
		<div class="progress-bar_item progress-bar_item-2"></div>
		<div class="progress-bar_item progress-bar_item-3"></div>
	  </div>
	  <br>
	  <span class="progress-bar_text">Password is blank</span>
		<button class="form-btn sx log-in" type="button">Retour</button>
		<button class="form-btn dx" type="submit">S'inscrire</button>
	</form>
 
</div>
 