<div class="image">
<div class="container">

	<form class="signUp" #registerForm="ngForm" (ngSubmit)="submit()">
      <h3>Créer votre compte</h3>
     
      
		<p> C'est super facile!  
      </p>
		<input class="w100" name="email" type="email" placeholder="email" [(ngModel)]="registerUserData.email" required autocomplete='off' />
	
		<div class="form__field">
    <input class="w200" type="password" name="password" placeholder="mot de passe" [(ngModel)]="registerUserData.password" required />
		<span class="icon"></span>
     </div>
	 
		<p>Vous avez déjà un compte ? <a routerLink="/auth/login"> Se connecter</a></p> 
		<button class="form-btn sx log-in" type="button" routerLink="/">Retour</button>
		<button class="form-btn dx" type="submit">S'inscrire</button>
	</form>
 
</div>
 </div>