<div class="container">
	<form class="signUp" #registerForm="ngForm" (ngSubmit)="submit()">
            <h3>Re-bienvenue!</h3>
		 
        
        <br>
		<input class="w100" name="email" type="email" placeholder="email" [(ngModel)]="registerUserData.email" required autocomplete='off' />
        <br>
        <input type="password" name="password" placeholder="mot de passe" [(ngModel)]="registerUserData.password" required />
		 
		<button class="form-btn sx log-in" type="button" routerLink="/">Retour</button>
		<button class="form-btn dx" type="submit">Se connecter</button>
	</form>

</div>

 