
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a routerLink="/">Accueil</a></li>
								<li>Qui sommes-nous?</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Bienvenue à DIGITALIS</h2>
						<div class="section_subtitle"><p></p></div>
					</div>
				</div>
			</div>
			<div class="row about_row">

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_left">
					<div class="about_item">
						<div class="about_item_image"><img src="../../../../assets/client/images/about_1.jpg" alt=""></div>
						<div class="about_item_title"><a href="#">Notre histoire</a></div>
						<div class="about_item_text">
							<p>Digitalis a été fondée en 2016 par Chaima Ben amor sur les prémisses de sa passion pour le digital et de la constatation que le fossé entre les formations classiques proposées et les offres d’emplois disponibles demandait à être comblé. </p>
						</div>
					</div>
				</div>

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_middle">
					<div class="about_item">
						<div class="about_item_image"><img src="../../../../assets/client/images/about_2.jpg" alt=""></div>
						<div class="about_item_title"><a href="#">Notre Mission</a></div>
						<div class="about_item_text">
							<p>Nous mettons à disposition de nos clients une solution complète pour la mise en place d’un projet en partant de l'idée jusqu'au produit fini, et en passant par une mission d’accompagnement marketing pour mettre en place une stratégie de webmarketing interactive réussie puis par le développement d’un site web en mettant en valeur le design graphique.</p>
						</div>
					</div>
				</div>

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_right">
					<div class="about_item">
						<div class="about_item_image"><img src="../../../../assets/client/images/about_3.jpg" alt=""></div>
						<div class="about_item_title"><a href="#">Notre Vision</a></div>
						<div class="about_item_text">
							<p>Créer un espace dédié aux entreprises et
								clients pour faciliter les
								commandes en ligne et
								accompagner leurs différents
								besoins.
								Nous donnons à tous la possibilité d’acquérir de nouvelles compétences et des connaissances de pointe en la matière.
								</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Feature -->

	<div class="feature">
		<div class="feature_background" style="background-image:url(../../../../assets/client/images/courses_background.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Pourquoi nous choisir?</h2>
						<div class="section_subtitle"><p>À Digitalis, nous croyons fortement en l’importance de l’éducation et de l'apprentissage des nouvelles technologies du numérique et proposons une méthodologie d’apprentissage unique mixant le Online et le Offline Learning permettant à l’étudiant d’avancer à son propre rythme tout en étant assisté et monitoré par des instructeurs afin d’assurer son progrès tout au long du programme. Nous investissons sur l’expérience d’apprentissage de nos étudiants en offrant un environnement urbain, dynamique et disruptif lui permettant de développer ses compétences.</p></div>
					</div>
				</div>
			</div>
			<div class="row feature_row">

				<!-- Feature Content -->
				<div class="col-lg-6 feature_col">
					<div class="feature_content">
						<!-- Accordions -->
						<div class="accordions">

							<div class="elements_accordions">

								<p-accordion [multiple]="true">
									<p-accordionTab header="Vous apprenez des meilleurs.">
										Notre programme vous permet de profiter d’un enseignement personnalisé dans un cadre authentique, où chaque étudiant est placé chez un professeur qualifié.
									</p-accordionTab>
									<p-accordionTab header="Nos certifications sont reconnues par l'état.">
										Nos formations sont adaptées et certifiées par le ministère et reconnues par l'état à l'échelle nationale.
									</p-accordionTab>
									<p-accordionTab header="Vous développez votre entreprise.">
										Nous vous aiderons à trouver des partenaires fiables et à développer votre business!. Aprés avoir trouver une solution complète pour la mise en place d’un projet en partant de l'idée jusqu'au produit fini, et en passant par une mission d’accompagnement marketing pour mettre en place une stratégie de webmarketing interactive réussie puis par le développement d’un site web en mettant en valeur le design graphique.
									</p-accordionTab>
								  </p-accordion>
							</div>

						</div>
						<!-- Accordions End -->
					</div>
				</div>

			</div>
		</div>
	</div>

<app-partenaires></app-partenaires>
<app-footer></app-footer>
