
<input class="navbar-search form-control" type="text" autocomplete="off" placeholder="Search for something..." aria-label="Search" name="search" [(ngModel)]="searchText"><table class="table table-hover">
  <thead>
  <tr>
      <td>formation name</td>
      <td>type</td>
      <td>nb</td>
      <td>imageURl</td>
      <td>image</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let formation of formations | filter:searchText">
          <td>{{ formation.nameFormation }}</td>
          <td>{{ formation.type }}</td>
          <td><img src="{{formation.imageUrl}}" alt=""></td>
          <td><a [routerLink]="['/admin/editFormation', formation._id]" class="btn btn-primary">Edit</a></td>
          <td><a (click) = "deleteBusiness(formation)" class="btn btn-danger">Delete</a></td>
      </tr>
  </tbody>
</table>
