	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a routerLink="/">Accueil</a></li>
								<li>Formations</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

<!-- Courses -->

<div class="courses">
  <div class="container">
    <div class="row">

      <!-- Courses Main Content -->
      <div class="col-lg-8">
        <div class="courses_search_container">
          <form id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start" #registerForm="ngForm" (ngSubmit)="searchRecherche()">
            <input type="search" class="courses_search_input" placeholder="Search Courses" required="required" (keyup)="searchTerm$.next($event.target.value)">
            <select id="courses_search_select" class="courses_search_select courses_search_input" [(ngModel)]="selectedLevel" name="delect" (change)="selected()">
              <option [ngValue]="categorie">Categories</option>
              <option *ngFor="let categorie of Categories" [ngValue]="categorie">{{categorie}}</option>
            </select>
            <button type="submit" class="courses_search_button ml-auto">chercher</button>
          </form>
        </div>

        <div class="courses_container">
            <div class="row courses_row" *ngIf="results">
            

                <!-- Course -->
                <div class="col-lg-6 course_col"  *ngFor="let result of results">
                  <div class="course">
                    <div class="course_image"><img src="{{result.imageUrl}}" alt=""></div>
                    <div class="course_body">
                      <h3 class="course_title"><a [routerLink]="['/list', result._id]">{{ result.nameFormation }}</a></h3>
                      <div class="course_teacher">{{ result.type}}</div>
                      <div class="course_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
                      </div>
                    </div>
                    <div class="course_footer">
                      <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                        <div class="course_info">
                          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                          <span>20 Student</span>
                        </div>
                        <div class="course_info">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <span>5 Ratings</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
          <div class="row courses_row">
            

            <!-- Course -->
            <div class="col-lg-6 course_col" *ngFor='let session of sessions'>
              <div class="course">
                <div class="course_image"><img src="{{session.imageUrl}}" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a [routerLink]="['/list', session._id]">{{session.nameFormation}}</a></h3>
                  <div class="course_teacher">Prof</div>
                  <div class="course_text">
                     {{session.Sujet}} 
                    <p>{{session.Description}}</p>

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Student</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Ratings</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
         <!-- <div class="row pagination_row">
            <div class="col">
              <div class="pagination_container d-flex flex-row align-items-center justify-content-start">
                <ul class="pagination_list">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
                <div class="courses_show_container ml-auto clearfix">
                  <div class="courses_show_text">Showing <span class="courses_showing">1-6</span> of <span class="courses_total">26</span> results:</div>
                  <div class="courses_show_content">
                    <span>Show: </span>
                    <select id="courses_show_select" class="courses_show_select">
                      <option>06</option>
                      <option>12</option>
                      <option>24</option>
                      <option>36</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div
          <p-paginator [rows]="2" [totalRecords]="3"></p-paginator>>-->
        </div>
      </div>

      <!-- Courses Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
  <!-- Latest Course -->
  <div class="sidebar_section" *ngIf="nav.LoggedIn">
    <div class="sidebar_section_title">Salon de discussion</div>
    <div class="sidebar_latest">

      <!-- Latest Course -->
      <div class="latest d-flex flex-row align-items-start justify-content-start">
        <div class="latest_image"><div><img src="../../../../assets/client/images/chatbot.jpg" alt="chatbot"></div></div>
        <div class="latest_content">
          <div class="latest_title"><a routerLink="/chat">Chatbot</a></div>
          <p>posez moi une question</p>
          
        </div>
      </div>
    </div>
  </div>

          <!-- Latest Course -->
          <div class="sidebar_section" *ngIf="bestFormations">
            <div class="sidebar_section_title">les meilleures sessions</div>
            <div class="sidebar_latest">

              <!-- Latest Course -->
              <div class="latest d-flex flex-row align-items-start justify-content-start" *ngFor='let formation of bestFormations'>
                <div class="latest_image"><div><img src="../../../../assets/client/images/latest_1.jpg" alt=""></div></div>
                <div class="latest_content">
                  <div class="latest_title">{{formation.name}}</div>
                  <div class="latest_price">Nombres d'inscrits: {{formation.quanti}}</div>
                </div>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>