<div class="counter">
  <div class="counter_background" style="background-image:url(../../../../assets/client/images/counter_background.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="counter_content">
          <h2 class="counter_title">Register Now</h2>
          <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

          <!-- Milestones -->

          <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

          </div>
        </div>

      </div>
    </div>

    <div class="counter_form">
      <div class="row fill_height">
        <div class="col fill_height">
          <form class="counter_form_content d-flex flex-column align-items-center justify-content-center"  #registerForm="ngForm" (ngSubmit)="AjouterMessage()">
            <div class="counter_form_title">CONTACTEZ NOUS</div>
            <input type="text" name="name" class="counter_input" placeholder="Nom:" required="required" [(ngModel)]="Message.name">
            <input type="tel" name="email" class="counter_input" placeholder="Email:" required="required" [(ngModel)]="Message.email">
            <textarea name="message" class="counter_input counter_text_input" placeholder="Message:" required="required" [(ngModel)]="Message.message"></textarea>
            <button type="submit" class="counter_form_button">ENVOYER</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
