<!-- Hero 
style="background-image:url(./assets/client/img/bg.jpg);" data-setbg="./assets/client/img/bg.jpg">
        
  <div class="container">
    <div class="hero-text text-white">
      <h2>Get The Best Free Online Courses</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
     
  </div>


section -->
 <section class="hero-section set-b"> 
<app-slider></app-slider>
 </section>

 <app-recherche></app-recherche>
<app-formations></app-formations>
<!-- signup section -->
<section class="signup-section spad">
  <div class="signup-bg set-bg" style="background-image:url(./assets/client/img/categories/signup-bg.jpg);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-warp">
          <div class="section-title text-white text-left">
            <h2>Sign up to became a teacher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
          </div>
          <!-- signup form -->
          <form class="signup-form">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your E-mail">
            <input type="text" placeholder="Your Phone">
            <label for="v-upload" class="file-up-btn">Upload Course</label>
            <input type="file" id="v-upload">
            <button class="site-btn">Search Couse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- signup section end -->


<!-- banner section -->
<section class="banner-section spad">
  <div class="container">
    <div class="section-title mb-0 pb-2">
      <h2>Join Our Community Now!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="text-center pt-5">
      <button class="site-btn" routerLink="/auth/register">S'inscrire</button>
    </div>
  </div>
</section>
<!-- banner section end -->


<!-- footer section -->
<footer class="footer-section spad pb-0">
  <div class="footer-top">
    <div class="footer-warp">
      <div class="row">
        <div class="widget-item">
          <h4>Contact Info</h4>
          <ul class="contact-list">
            <li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
            <li>+53 345 7953 32453</li>
            <li>yourmail@gmail.com</li>
          </ul>
        </div>
        <div class="widget-item">
          <h4>Engeneering</h4>
          <ul>
            <li><a href="">Applied Studies</a></li>
            <li><a href="">Computer Engeneering</a></li>
            <li><a href="">Software Engeneering</a></li>
            <li><a href="">Informational Engeneering</a></li>
            <li><a href="">System Engeneering</a></li>
          </ul>
        </div>
      
        <div class="widget-item">
          <app-contact></app-contact>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-warp">
      <ul class="footer-menu">
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
      <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
    </div>
  </div>
</footer> 
<!-- footer section end -->