<div class="col-lg-8">
  <div class="card card-small mb-4">
    <div class="card-header border-bottom">
      <h6 class="m-0">Formation details</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3">
        <div class="row">
          <div class="col">
            <form [formGroup]="form" (submit)="submit()" enctype="multipart/form-data">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="feFirstName">Formation name</label>
                  <input type="text" class="form-control" id="feFirstName" formControlName="nameFormation" name="nameFormation"> </div>
                <div class="form-group col-md-6">
                  <label for="feLastName">Formation type</label>
                  <input type="text" class="form-control" id="feLastName" name="type" formControlName="type"> </div>
              </div>
              <div class="form-group">
                <label for="feInputAddress">Sujet</label>
                <input type="text" class="form-control" id="feInputAddress" name="Sujet" formControlName="Sujet"> </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feInputCity">image</label>
                    <input type="file" name="imageUrl" (change)="onImagePicked($event)"> </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Plan</label>
                  <input type="text" class="form-control" id="inputZip" name="Plan" formControlName="Plan"> </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="feDescription">Description</label>
                  <input type="text" class="form-control" id="feDescription" name="feDescription" name="D" formControlName="D" rows="5">
                </div>


              </div>
              <button type="submit" class="btn btn-accent">create Formation</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
