<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Formations</h2>
						<div class="section_subtitle"><p>Choisissez parmi nos différentes formations et commencez à relever votre défi dès aujourd'hui . De nouveaux cours sont ajoutés tous les mois</p></div>
					</div>
				</div>
			</div>
			<div class="row events_row">

				<!-- Event -->
				<div class="col-lg-4 event_col" *ngFor='let session of sessions'>
					<div class="event event_left">
						<div class="event_image"><img src="assets/client/images/course_1.jpg" alt=""></div>
						<div class="event_body d-flex flex-row align-items-start justify-content-start">
							<div class="event_date">
								<div class="d-flex flex-column align-items-center justify-content-center trans_200">
									<div class="event_day trans_200">{{session.dateDebut | date:'dd'}}</div>
									<div class="event_month trans_200">{{session.dateDebut | date:'MMM'}}</div>
								</div>
							</div>
							<div class="event_content">
								<div class="event_title"><a href="#">{{session.name}}</a></div>
								<div class="event_info_container">
									<div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Date Debut: {{session.dateDebut | date:'fullDate'}}</span></div>
									<div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Date Fin: {{session.dateFin | date:'fullDate'}}</span></div>
									<div class="event_text">
										<p>{{session.Formations.nameFormation}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			 

            </div>
            <div class="row">
                <div class="col">
                    <div class="courses_button trans_200"><a href="#">afficher plus</a></div>
                </div>
            </div>
		</div>
	</div>
 

