<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}"></p-confirmDialog>
 <p-messages [value]="msgs"></p-messages>
 <br>
<h3>Les réservations</h3>
<br>
<p-table [value]="Reservations">
    <ng-template pTemplate="header">
        <tr>

            <th>Email</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reservation>
        <tr >

            <td>{{ reservation.user.name }}</td>
            <td> <button type="text" (click)="confirm1(reservation)" pButton icon="pi pi-check" label="Confirm"></button></td>
            <td><button type="button" (click)="confirm2(reservation)" pButton icon="pi pi-times" label="Delete"></button></td>
        </tr>
    </ng-template>
</p-table>
