<br>
<div class="col-lg-8">
  <div class="card card-small mb-4">
    <div class="card-header border-bottom">
      <h6 class="m-0">Ajouter une formation</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3">
        <div class="row">
          <div class="col">
            <form [formGroup]="form" (submit)="submit()" enctype="multipart/form-data">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="feFirstName">Nom formation </label>
                  <input type="text" class="form-control" id="feFirstName" formControlName="nameFormation" name="nameFormation">
                 </div>
                 <div class="form-group col-md-6">
                 <label for="feInputAddress">Sujet</label>
                 <input type="text" class="form-control"  name="Sujet" formControlName="Sujet"> 
              </div>
              </div>
              <div class="form-group">
              
                <div class="form-group col-md-6">
                  <label for="feLastName">type formation </label>
                 
                  <div class="ui-g" style="width:250px;margin-bottom:10px">
                    <div class="ui-g-6"><p-radioButton name="group2" value="théorique" label="théorique" formControlName="type" inputId="preopt1"></p-radioButton></div>
                    <div class="ui-g-6"><p-radioButton name="group2" value="pratique" label="pratique" formControlName="type" inputId="preopt2"></p-radioButton></div>
                   
                </div> 
                
                  <label for="feDescription">Categories</label><br>
              <select class="browser-default custom-select" formControlName="selectedLevel" name="delect" (change)="selected()">
                <option [ngValue]="categorie">--Sélectionnez une categorie--</option>
                  <option *ngFor="let categorie of Categories" [ngValue]="categorie">{{categorie}}</option>
              </select>
             
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feInputCity">image</label><br>
                    <input type="file" name="imageUrl" (change)="onImagePicked($event)"> </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Plan</label>
                  <br>
                  <textarea [rows]="5" [cols]="30" name="Plan" formControlName="Plan" pInputTextarea autoResize="autoResize"></textarea>
                  
                 </div>
              </div>
            
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="feDescription">Description</label>
                <br>
                  <textarea [rows]="5" [cols]="30" name="feDescription" name="D" formControlName="D" pInputTextarea autoResize="autoResize"></textarea>
                </div>
               </div>
               
              <button type="submit" class="btn btn-accent">Créer Formation</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
