<nav>
  <ul>
    <li><a routerLink="/">Menu Item</a></li>
    <li><a routerLink="/admin" *ngIf="isAdmin">Menu Item</a></li>
    <li>Menu Item</li>
  </ul>
</nav>


<script>
  $(window).scroll(function(event){

    var yOffset = window.pageYOffset;
    var breakpoint = 50;
    if (yOffset > breakpoint){
      $("nav ul").addClass('active');
    }else{
      $("nav ul").removeClass('active');
    }
  
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>