nav ul{
  position:fixed;
  z-index:1000;
  width:100%;
  color:#000;
  list-style:none;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  transition:.5s;
}
nav ul.active{
  background:#333;
  color:#fff;
}
nav ul li{
  display:inline-block;
  padding:20px 30px;
}