<header id="site-header">
    <div class="container">
        <h1>Profil </h1>
    </div>
  </header>
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title">Profil</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card card-small mb-4 pt-3">
        <div class="card-header border-bottom text-center">
          <div class="mb-3 mx-auto">
            <img class="rounded-circle" src="./assets/client/images/team_1.jpg" alt="User Avatar" width="110"> </div>
          <h4 class="mb-0" *ngIf="currentUser">{{currentUser.prenom}} {{currentUser.nom}}</h4>
          <span class="text-muted d-block mb-2">{{currentUser.email}}</span>
          <span class="text-muted d-block mb-2">{{currentUser.tel}}</span>
          <span class="text-muted d-block mb-2">Age : {{currentUser.age}}</span>
          <span class="text-muted d-block mb-2">Niveau : {{currentUser.Niveau}}</span>
        </div>
        <ul class="list-group list-group-flush">
        
          <li class="list-group-item p-4">
            <strong class="text-muted d-block mb-2">Réservations</strong>
            <span> </span>
          </li>
        </ul>
      </div>
    </div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast> 
    <div class="col-lg-4">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Profil</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">
                <form [formGroup]="updateForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="feFirstName">Nom</label>
                      <input type="text" class="form-control" id="feFirstName" name="nom" formControlName="nom" #nom> </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                      <label for="feLastName">Prénom</label>
                      <input type="text" class="form-control" id="feLastName" name="prenom" formControlName="prenom"
                      #prenom> </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="feEmailAddress">Email</label>
                      <input type="email" class="form-control" id="feEmailAddress" placeholder="Email" name="email" formControlName="email"
                      #email> </div>
                  
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="feDescription">Téléphone</label>
                      <input class="form-control" name="feDescription"  formControlName="tel"
                      #tel >
                      <label for="feDescription">Age</label>
                      <input class="form-control" name="feDescription"  formControlName="age"
                      #age >
                    </div>
                  </div>
                    <div class="form-row">
                    <label for="feDescription">Niveau d'étude</label><br>
                     <select class="browser-default custom-select" formControlName="selectedLevel" name="delect" (change)="selected()">
                      
                      <option *ngFor="let categorie of Categories" [ngValue]="categorie">{{categorie}}</option>
                     </select>
                  </div>
                  <br>
                  <button type="button" class="btn btn-accent" name="register" (click)="updateUser(currentUser,email.value,nom.value,prenom.value,tel.value,age.value)">Modifier profil</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->
</div>
