<footer class="footer">
  <div class="footer_background" style="background-image:url(assets/client/images/footer_background.png)"></div>
  <div class="container">
    <div class="row footer_row">
      <div class="col">
        <div class="footer_content">
          <div class="row">

            <div class="col-lg-3 footer_col">

              <!-- Footer About -->
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a routerLink="/">
                    <div class="footer_logo_text">Digital<span>is</span></div>
                  </a>
                </div>
                <div class="footer_about_text">
                  <p>Digitalis est la plus grande communauté des entrepreneurs.</p>
                </div>
                
              </div>

            </div>

            <div class="col-lg-3 footer_col">

              <!-- Footer Contact -->
              <div class="footer_section footer_contact">
                <div class="footer_title">Pour plus d’informations</div>
                <div class="footer_contact_info">
                  <ul>
                    <li>Email:</li>
                    <li> contact@digitalis.tn</li>
                    <li>Numéros de téléphone:  </li>
                    <li>(+216) 58 17 28 82</li>
                     
                    <li> (+216) 55 10 16 16 </li>
                     
                    <li> (+216) 58 17 28 82</li>
                    
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-lg-3 footer_col">

              <!-- Footer links -->
              <!-- Footer Contact -->
              <div class="footer_section footer_contact">
               
                <div class="footer_contact_info">
                  <ul> 
                    <li><a routerLink="/">ACCUEIL</a></li>
                    <li><a routerLink="/list">FORMATIONS</a></li>
                    
                    <li><a routerLink="/demandes">DEMANDE DE DEVIS</a></li>
                   
                    <li><a routerLink="/contact">CONTACT</a></li>
                  </ul>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

 
  </div>
</footer>
