
	<div class="home">
        <div class="breadcrumbs_container">
          <div class="container">
            <div class="row">
               
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a  routerLink="/demandes">Demande de devis</a></li>
                   
                  </ul>
                </div>
             
            </div>
          </div>
        </div>
      </div>
      <p-toast [style]="{marginTop: '80px'}"></p-toast> 
<div class="form-style-10">
  <h1> Demande de devis</h1>
  <form [formGroup]="form" (submit)="send()"enctype="multipart/form-data">
      <div class="section"><span>1</span>Informations personnelles</div>
      <div class="inner-wrap">
          <label>Nom <input id="feFirstName" type="text" name="field1" formControlName="Nom" /></label>
          <label>Prénom <input id="feFPre" type="text" name="field2" formControlName="Prenom" /></label>
          <label>Adresse <textarea id="feFirst" name="field3" formControlName="Adresse"></textarea></label>
          <label>Email <input type="email" id="fe" name="field4" formControlName="Email"/></label>
          <label>Tél <br><p-inputMask formControlName="Tel" mask="(999) 99-999?-999"></p-inputMask> </label>
      </div>

      <div class="section"><span>2</span>Entreprise</div>
      <div class="inner-wrap">
          <label>Entreprise <input type="text" name="field6" formControlName="Entreprise" /></label>
          <label>Fonction dans l'entreprise<input type="text" name="field7" formControlName="Fonction"/></label>
          <label>Domaine d'activité<input type="text" name="field8" formControlName="DomaineActivite" /></label>
      </div>

      <div class="section"><span>3</span>Services demandés</div>
          <div class="inner-wrap">
            <label>Services* <p-chips name="field11" formControlName="Services"></p-chips></label>
             <p>*Tapez entrer après chaque service pour ajouter plus</p>
      <br>
            <label>Description<input type="text" name="field11" formControlName="Description"/></label>
            <label>Cahier de charge</label><input type="file" name="field12" (change)="onFilePicked($event)"/><br><br>
            <label>Message <textarea name="field13" formControlName="Message"></textarea></label>



      </div>
      <div class="button-section">
       <button type="submit" class="btn btn-accent">Envoyer</button>
      </div>
  </form>
  </div>
