
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <img [src]="images[0]" alt="Random first slide">
               
                <p class="centered">DIGITIZE YOUR PROJECTS</p> 
              
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[1]" alt="Random second slide">
                 <p class="centered1">MISSION D’ACCOMPAGNEMENT MARKETING</p>
              
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[2]" alt="Random third slide"> 
               <p class="centered2">DEVELOPPEMENT WEB</p>
            </ng-template>
          </ngb-carousel>
