<div class="alert alert-success alert-dismissible fade show mb-0" role="alert" *ngIf="Updated">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <i class="fa fa-check mx-2"></i>
  <strong>Success!</strong> Your profile has been updated! </div>
<div class="container">
    <header>
      <h1>
          
          <img src="../../../../../assets/admin/images/photo.jpg" alt="Authentic Collection">
         
      </h1>
    </header>
    <h1 class="text-center">Profile</h1>
    <form  >
      <label class="col-one-half">
        <span class="label-text">Nom</span>
        <p>{{nom}}</p>
      </label>
      <label class="col-one-half">
        <span class="label-text">Prénom</span>
        <p>{{prenom}}</p>
      </label>
      <label>
        <span class="label-text">Email</span>
        <p>{{email}}</p>
      </label>
      <label>
        <span class="label-text">Numéro de téléphone</span>
        <p>{{tel}}</p>
      </label>
     <!--<label class="password">
        <span class="label-text">mot de passe</span>
        <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
          <span class="glyphicon glyphicon-eye-close"></span>
        </button>
        <input type="password" name="password">
      </label>--> 
       <br>
      <div class="text-center">
        <button type="button" class="btn btn-accent" routerLink="/admin/profile">Modifier profile</button>
      </div> 
    </form>
  </div>
  
