<div class="container">
    <header>
      <h1>
          
          <img src="../../../../../assets/admin/images/photo.jpg" alt="Authentic Collection">
         
      </h1>
    </header>
    <h1 class="text-center">Profile</h1>
    <form class="registration-form" [formGroup]="updateForm">
      <label class="col-one-half">
        <span class="label-text">Nom</span>
        <input type="text" name="nom" formControlName="nom"
        #nom >
      </label>
      <label class="col-one-half">
        <span class="label-text">Prénom</span>
        <input type="text" name="prenom"formControlName="prenom"
        #prenom>
      </label>
      <label>
        <span class="label-text">Email</span>
        <input type="text" name="email" placeholder="{{email}}" formControlName="email"
        #email>
      </label>
      <label>
        <span class="label-text">Numéro de téléphone</span>
        <input type="text" name="number" formControlName="tel"
        #tel>
      </label>
     <!--<label class="password">
        <span class="label-text">mot de passe</span>
        <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
          <span class="glyphicon glyphicon-eye-close"></span>
        </button>
        <input type="password" name="password">
      </label>--> 
       <br>
      <div class="text-center">
        <button class="submit" name="register" (click)="updateUser(currentUser,email.value,nom.value,prenom.value,tel.value)">Modifier profile</button>
      </div> 
    </form>
  </div>
  