<br>
<div class="col-lg-8">
  <div class="card card-small mb-4">
    <div class="card-header border-bottom">
      <h6 class="m-0">Event details</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3">
        <div class="row">
          <div class="col">
            <form [formGroup]="form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="feFirstName">Nom de l'evènement</label>
                  <input type="text" class="form-control" id="feFirstName" formControlName="name" #name [value]="event.name" name="name"> </div>
                  <div class="form-group col-md-6">
                    <label for="feLastName">Date de l'évènement</label>
                    <br>
                    <p-calendar formControlName="date" #date name="date" [showTime]="true"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2019:2050"></p-calendar>
                   </div>
              </div>

              <div class="form-group">
                <label for="feInputAddress">Description</label>
                <input type="text" class="form-control" id="feInputAddress" #Description formControlName="Description" [value]="event.Description" name="Description"> </div>
              <div class="form-row">


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feInputCity">Temps de l'évènement</label>
                     <br>
                     <p-calendar type="date" formControlName="temps" name="temps"  [timeOnly]="true" #temps></p-calendar>
                     </div>
              </div></div>
              <button type="button" class="btn btn-accent" (click)="submit(name.value,date.value,temps.value,Description.value)">modifier formation</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

