
<div class="form-style-5">
  <form>
  <fieldset>
  <legend><span class="number">1</span> Informations personnelles</legend>
  <input type="text" name="field1" placeholder="Nom *">
  <input type="email" name="field2" placeholder="Prénom *">
  <input type="email" name="field3" placeholder="Email*">
  <input type="email" name="field3" placeholder="Tél*">
  <input type="email" name="field3" placeholder="Adresse*">
  <input type="email" name="field3" placeholder="Age*">
   
  <label for="job">Niveau:</label>
  <select id="job" name="field4">
  <optgroup >
    <option value="fishkeeping">Débutant</option>
    <option value="fishkeeping">Élémentaire</option>
    <option value="fishkeeping">Intermédiaire</option>
    <option value="reading">Intermédiaire supérieur</option>
    <option value="boxing">Avancé</option> 
  </optgroup>
  </select>  
  <label for="job">Niveau de formation ou diplôme:</label>
  <select id="job" name="field4">
  <optgroup>
    <option value="fishkeeping">Lycéen</option>
    <option value="boxing">Bac</option> 
    <option value="other_indoor">technicien supérieur</option>
    <option value="other_indoor">Master</option>
    <option value="other_indoor">Ingénieur </option>
  </optgroup>
  </select>      
  </fieldset>
  <fieldset>
  <legend><span class="number">2</span> Compétences</legend>
   
  </fieldset>
  <input type="submit" value="Réserver" />
  </form>
  </div>